@use "sass:color";
@use "sass:math";

$-color-bg: hsl(180 1% 10%);
$-color-dark:  color.adjust($-color-bg, $lightness: +80%);
$-color-fg: hsl(344 65% 20%);
$-ff-serif: "Inconsolata", monospace;
$-ff-sans: "Jost", sans-serif;
$-fs-900: math.div(100rem, 16);

@forward "base" with (
  $color-bg: $-color-bg,
  $color-dark: $-color-dark,
  $color-fg: $-color-fg,
  $ff-serif: $-ff-serif,
  $ff-sans: $-ff-sans,
  $fs-900: $-fs-900
);

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata.ttf");

  font-display: swap;
  font-variation-settings: "wdth" 85;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost.ttf");

  font-display: swap;
}
