/* ----------------- */
/* Custom Properties */
/* ----------------- */
/* Many of the prop-
 * erties here are
 * where the substa-
 * ntive changes
 * will be made      */

:root {

  /* colors */

  --color-dark: 348 79% 81% ;/* White */
  --color-light: 0 0% 50% ; /* Gray */
  /*--color-white: 348 79% 97% ;*/
  --color-white: var( --color-dark) / .2  ;
  --color-accent: 45 79% 81% ;/* White */

  /* font */

  /* Sizes divided by 16 so values given in px */
  --fs-900: calc(125rem / 16);
  --fs-800: calc(75rem / 16);
  --fs-700: calc(56rem / 16);
  --fs-600: calc(32rem / 16);
  --fs-500: calc(28rem / 16);
  --fs-400: calc(24rem / 16);
  --fs-300: calc(18rem / 16);
  --fs-200: calc(16rem / 16);

  --ff-serif: serif;
  --ff-sans-cond: sans-serif;
  --ff-sans: sans-serif;

}
/* ----- */
/* Reset */
/* ----- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

h1, h2, h3 {
  line-height: 1.1;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl( var(--color-dark) );
  background-color: hsl( var(--color-white) );
  line-height: 1.5;
  min-height: 100vh;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
	}
}


/* --------------- */
/* Utility Classes */
/* --------------- */

.flex {
  display: flex;
  gap: 2rem;
}

.column {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: baseline;
  max-width: 100%;
}

.two-columns {
  display: grid;
  /* Will shrink to one column, never exceed two!
   * The `max` in `minmax` asks that the columns
   * be no smaller */
  grid-template-columns: repeat(auto-fit, minmax(max(30rem, 40%), 1fr));
  column-gap: 1rem;
  justify-content: space-evenly;
}

.container {
  padding-inline: clamp(0.5rem, 4rem, 5rem);
  margin-inline: auto;
  max-width: 80rem;
}

/* Color Classes */

.bg-dark  { background-color: hsl( var(--color-dark) ); }
.bg-light { background-color: hsl( var(--color-light) ); }
.bg-white { background-color: hsl( var(--color-white) ); }

.text-dark  { color: hsl( var(--color-dark) ); }
.text-light { color: hsl( var(--color-light) ); }
.text-white { color: hsl( var(--color-white) ); }

/* Font Classes */

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans { font-family: var(--ff-sans); }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

/* -------------------- */
/* Non-Reusable Classes */
/* -------------------- */
/* meant for these pages
 * only, not to be used
 * in practice          */

.colors--block {
  padding: 3rem 1rem 1rem;
  border: 1px solid black;
}
