@use "waltuh/waltuh";
@use "waltuh/variables" as *;

#pgp_a {
	position: fixed;
	display: none;

	font-size: $fs-200;
	margin-top: 0.4rem;
}

footer {
	width: 100%;
	font-size: $fs-800;
	justify-content: center !important;
}
