/* Font Sizes */

$fs-900: calc(125rem / 16);
$fs-800: calc(75rem / 16);
$fs-700: calc(56rem / 16);
$fs-600: calc(32rem / 16);
$fs-500: calc(28rem / 16);
$fs-400: calc(24rem / 16);
$fs-300: calc(18rem / 16);
$fs-200: calc(16rem / 16);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.1;
}

body {
  font-family: sans-serif;
  font-size: $fs-400;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  line-height: 1.5;
  min-height: 100vh;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
	}
}

@mixin mobile() {
  @media (pointer: coarse) {
    @content;
  }
  }
